body {
    background-color: #444444;
    color: white;
}

#mlurg {
    position: absolute;
    width: 175px;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

#menu {
    position: absolute;
    bottom: 5px;
}

.menu {
    width: 50px;
    margin-right: 5px;
    border: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
}

/*  Couleurs des noms d'objets WoW
**  Heritage    : #00CCFF
**  Legendaire  : #FF8000
**  Epique      : #A335EE
**  Rare        : #0070DD
**  Magique     : #1EFF00
**  Commun      : #FFFFFF
**  Camelotte   : #9D9D9D
*/
