:root {
    /* Modification du curseur par défault */
    cursor: url(../media/img/cursors/hand.cur), pointer;

    /*  Couleurs des objets WoW par rarete */
    --heritage    : #00ccff;
    --legendaire  : #ff8000;
    --epique      : #a335ee;
    --rare        : #0070dd;
    --magique     : #1eff00;
    --commun      : #ffffff;
    --camelotte   : #9d9d9d;
    
    /*  Couleurs des classes WoW */
    --deathKnight : #c41e3b;
    --demonHunter : #a330c9;
    --druid       : #ff7c0a;
    --hunter      : #aad372;
    --mage        : #68ccef;
    --monk        : #008467;
    --paladin     : #f48cba;
    --priest      : #ffffff;
    --rogue       : #fff468;
    --shaman      : #2359ff;
    --warlock     : #9382c9;
    --warrior     : #c69b6d;

}

body {
    background-image: url(../media/img/elwynn-r.jpg);
    background-position: center top;
    color: white;
}

#mlurg {
    position: absolute;
    width: 160px;
    top: 55%; left: 50%;
    transform: translate(-50%, -50%);
    cursor: url(../media/img/cursors/sword.cur), pointer;
}

#mlurg:hover {
    width: 175px;
}

#menu {
    position: absolute;
    margin: 0px;
    bottom: 0px;
    left: 0px;
}

.menu {
    width: 54px;
    margin: 10px 0px 5px 6px;
    border: solid;
    border-width: 1px;
    border-color: goldenrod;
    border-radius: 27px;
    cursor: url(../media/img/cursors/handActive.cur), pointer;
}

.menu:hover {
    width: 56px;
    border-radius: 28px;
    margin: 10px 0px 5px 2px;
    border-color: gold;
    border-width: 2px;
}

.menu:active {
    width: 52px;
    border-radius: 26px;
    margin: 10px 0px 5px 6px;
    border-color: gold;
    border-width: 2px;
}



#jobsTab {
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

#jobsList {
    display: none;
    flex-direction: column;
    text-align: right;
}

.job {
    background-image: url('../media/img/Panel-bg-stacked.jpg');
    display: flex;
    flex-direction: row;
    border: solid;
    border-width: 2px;
    border-color: goldenrod;
    margin-bottom: 5px;
}

.jobLogo {
    height: 40px;
    border-right: solid;
    border-right-width: 2px;
    border-color: goldenrod;
}

.jobDisplay {
    background-position: center;
    height: 30px;
    padding: 5px;
    width: 100px;
}

.plus {
    color: goldenrod;
    height: 30px;
    padding: 5px;
    width: 20px;
    border-left: solid;
    border-left-width: 2px;
    border-color: goldenrod;
}

.noborder {
    padding: 0;
    margin: 0;
    border-width: 0;
}